<p id="notice"><%= notice %></p>

<h1>Listing Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>One liner</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email address</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Linkedin</th>
      <th>Angelist</th>
      <th>Instagram</th>
      <th>Github</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.description %></td>
        <td><%= organization.one_liner %></td>
        <td><%= organization.address %></td>
        <td><%= organization.phone %></td>
        <td><%= organization.email_address %></td>
        <td><%= organization.twitter %></td>
        <td><%= organization.facebook %></td>
        <td><%= organization.linkedin %></td>
        <td><%= organization.angelist %></td>
        <td><%= organization.instagram %></td>
        <td><%= organization.github %></td>
        <td><%= organization.user_id %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
